version: '3.8'

services:
  api:
    build: .
    container_name: bwai_recsys_api
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    networks:
      - bwai_network
    restart: unless-stopped

  mongo:
    container_name: bwai_mongodb_container
    image: mongo:7.0
    environment:
      MONGO_INITDB_DATABASE: fsds
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - bwai_network
    restart: unless-stopped

  mongo-express:
    image: mongo-express
    container_name: bwai_mongo_express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: pass
    depends_on:
      - mongo
    networks:
      - bwai_network

networks:
  bwai_network:
    driver: bridge

volumes:
  mongodb_data:
